<h3 style="text-align: center">Quelques hôtels...</h3>

{% for etablissement in etablissements %}

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ etablissement.nom }}</h4>
      </div>
      <div class="card-body">
        <p></p>
        <p></p>
        <p></p>
        <button type="button" class="btn btn-lg btn-block btn-primary">Réservez</button>
      </div>
    </div>

{% endfor %}