<!-- Les 7 Hotels Hypnos -->

<div class="row">
  <h2>Hôtels Hypnos</h2>
  <p></p>
</div>

{% for etablissement in etablissements %}
<div class="row">

  <div style="width: 14.28%; padding: 1em;">
    <h3>
    {{ etablissement.town }}
    </h3>
  </div>

  

{% endfor %}