<!-- Page Accueil -->

<main>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
    <br>
      <h1 class="display-2">Bienvenue chez Hypnos</h1>
      <p class="lead">Des hébergements luxueux pour une expérience de sommeil inoubliable</p>
    </div>
  </div>
</main>
