<footer class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Hypnos</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla luctus commodo tortor.</p>
      </div>
      <div class="col-md-4">
        <h5>Navigation</h5>
        <ul class="list-unstyled">
          <li><a href="#">Etablissements</a></li>
          <li><a href="#">Suites</a></li>
          <li><a href="#">Réservez</a></li>
          <li><a href="#">Mon compte</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contactez nous</h5>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
        <p>Phone: +1 (555) 555-5555</p>
      </div>
    </div>
  </div>
</footer>
